body {
    background-color: lightsalmon;
}

#divInput {
    float: left;
    width: 50%;
}

#customerSearch {
    float: right;
}

#customerList {
    float: left;
    width: 50%;
    margin-right: 200px;
}

