body {
    background-color: lightsalmon;
}

#divInput {
    float: left;
    width: 50%;
}

#divCustomerSearch {
    float: right;
}

#divCustomerList {
    float: left;
    width: 50%;
    margin-right: 200px;
}

